.DS_Store
*.suo
*.user
*.cache
*.ncb
*.log
*.jbf
*.sdf
*.cachefile
*.orig
*.pidb
*.userprefs
*.resources
thumbs.db
UpgradeLog.xml
cachefile-*.txt
Content/
Scratch/
Debug/
Release/
bin/
obj/
SubmissionInfo/
Scaffold_*/
_UpgradeReport_Files/
